/* Student Form */

.form-box {
    background-color: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}

.form-box input {
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

/* Search */

.search-box {
    margin-top: 20px;
}

.search-box input {
    width: 300px;
    padding: 12px;
}

/* Table */

table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #222;
    color: white;
}

.edit {
    background-color: #555;
    margin-right: 5px;
}

.delete {
    background-color: #888;
}
